<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>dev.eunjae.cli</string>
		<key>UserName</key>
        <string>eunjae</string>
		<key>Program</key>
		<string>/Users/eunjae/workspace/dotfiles/bin/ej</string>
		<key>ProgramArguments</key>
        <array>
            <string>_</string>
            <string>watch</string>
        </array>
		<key>RunAtLoad</key>
		<true/>
        <key>KeepAlive</key>
        <true/>
	</dict>
</plist>
