customCommands:
  - key: "<c-P>"
    context: "files, localBranches"
    command: "git push --set-upstream && gh pr create --web"
    description: "Create a PR"
  - key: "<c-d>"
    context: "files"
    command: "git checkout HEAD -- yarn.lock && git checkout main && git pull"
    description: "Switch to main branch"
  - key: "<c-c>"
    context: "files"
    description: "Commit and push"
    prompts:
      - type: "input"
        title: "Commit and push"
        key: "Summary"
    command: 'git commit -m "{{.Form.Summary}}" && git push'
    loadingText: "Committing and pushing..."
  - key: "N"
    context: "files, localBranches"
    description: "Checkout PR by number"
    prompts:
      - type: "input"
        title: "PR number"
        key: "PRNumber"
    command: "/Users/eunjae/workspace/dotfiles/bin/gpr {{.Form.PRNumber}}"
    loadingText: "Checking out PR..."
git:
  paging:
    colorArg: always
    pager: delta --dark --paging=never
